@import 'src/styles/vars';

.inputWrap {
  position: relative;
  width: 427px;
  height: 68px;

  .input {
    position: absolute;
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    inset: 0;
    background-color: $inputBackground;
    border-radius: 16px;
    outline: none;
    font-family: Nekst-Black, sans-serif;
    font-size: 30px;
    line-height: 36px;
    color: $lightgray;
    border: 2px solid $inputBackground;
    z-index: 10;
    padding: 0 24px;

    &:focus {
      background-color: transparent;
    }
  }

  .placeholder {
    position: absolute;
    right: 24px;
    top: 50%;
    font-family: Nekst-Black, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: $lightgray;
    z-index: 100;
    translate: 0 -60%;
  }

  .percent{
    position: absolute;
    right: 7px;
    top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69px;
    height: 54px;
    background-color:$percentField;
    border-radius: 16px;
    font-family: Nekst-Black, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: $lightgray;
    z-index: 100;
    .percentPlaceholder{
      position: absolute;
      right: 80px;
      top: 50%;
      font-family: Nekst-Black, sans-serif;
      font-size: 30px;
      line-height: 30px;
      color: $lightgray;
      z-index: 100;
      translate: 0 -60%;
    }
  }
}

