@import "src/styles/vars";

.inputRangeWrap {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 427px;
  height: 20px;
  padding: 0 24px;
  z-index: 190;

  .inputRange {
    width: 100%;
    height: 100%;
    margin: 0;
    background: transparent;
    outline: none;
    transition: 0.2s;
    -webkit-appearance: none;

    &:disabled {
      opacity: 0.5;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      background: $orange;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      translate: 0 -45%;
    }

    &::-moz-range-thumb {
      width: 20px;
      height: 20px;
      background: $orange;
      border-radius: 50%;
      border: none;
      cursor: pointer;
    }

    &::-moz-range-track {
      width: 100%;
      height: 2px;
      background: $rangeTrack;
      border-radius: 2px 2px 0 0;
      border: none;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 2px;
      background: $rangeTrack;
      border-radius: 2px 2px 0 0;
      border: none;
    }
  }

  .progressWrap {
    position: absolute;
    width: 379px;
    height: 2px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    overflow: hidden;
    z-index: 200;

    .rangeProgressTrack {
      height: 100%;
      background: $orange;
      border-radius: 2px 2px 0 0;

    }
  }

  @media screen and (max-width: 1440px) {
    width: 320px;
    .progressWrap {
      width: 272px;
    }
  }
  @media screen and (max-width: 1120px) {
    width: 696px;
    .progressWrap {
      width: 648px;
    }
  }
  @media screen and (max-width: 768px) {
    width: 280px;
    padding: 0 20px;
    .progressWrap {
      width: 240px;
    }
  }
}
