@import "src/styles/vars";

%flex-content-center {
  display: flex;
  justify-content: center;
}

%flex-between-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appWrap {
  @extend %flex-content-center;
  align-items: center;
  width: 100%;
  height: 100vh;

  .app {
    @extend %flex-content-center;
    box-sizing: border-box;
    flex-direction: column;
    align-items: start;
    width: 1440px;
    height: 800px;
    padding: 0 48px;

    h1 {
      width: 753px;
      height: 98px;
      font-family: Nekst-Black, sans-serif;
      font-size: 54px;
      line-height: 90%;
      color: $black;
      margin: 0 0 32px 0;
    }

    .inputsBox {
      @extend %flex-between-center;
      width: 100%;
      margin-bottom: 42px;
    }

    .resultsBox {
      @extend %flex-between-center;
      width: 100%;
    }
  }

  @media screen and (max-width: 1440px) {
    .app {
      width: 1120px;
    }
  }
  @media screen and (max-width: 1120px) {
    .app {
      width: 768px;
      padding: 0 36px;
      height: 820px;

      h1 {
        width: 100%;
        margin: 0 0 44px 0;
      }

      .inputsBox {
        align-items: start;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 35px;

        &:not(:last-child) {
          gap: 30px;
        }
      }

      .resultsBox {
        flex-wrap: wrap;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .app {
      width: 320px;
      padding: 20px;
      height: auto;

      h1 {
        width: 100%;
        height: auto;
        margin: 0 0 32px 0;
        font-size: 34px;
        line-height: 30px;
      }

      .inputsBox {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;

        &:not(:last-child) {
          gap: 0;
        }
      }

      .resultsBox {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
      }
    }
  }
}

